<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.leapframework.org/schema/config">
    <base-package>hello</base-package>

    <properties>
        <property name="db.driverClassName">oracle.jdbc.OracleDriver</property>
        <property name="db.url">jdbc:oracle:thin:@localhost:49161:XE</property>
        <property name="db.username">dev</property>
        <property name="db.password">111111</property>
    </properties>
</config>